<!--
                      _ _ _
   ___ _ __ _   _  __| (_) | ____ _
  / _ \ '__| | | |/ _` | | |/ / _` |
 |  __/ |  | |_| | (_| | |   < (_| |
  \___|_|   \__,_|\__,_|_|_|\_\__,_|
             a tiny software company

-->
<!DOCTYPE html>
<html lang="en-us" class="nojs">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The official Erudika blog - we write about backend and frontend technologies
					like Java and JavaScript, IoT, mobile and Para.">
		<meta name="author" content="erudika.com">
		<meta property="fb:app_id" content="119564591416126">
    <%
		var title = page.title;

		if (is_archive()){
		title = 'Archives';

		if (is_month()){
		title += ': ' + page.year + '/' + page.month;
		} else if (is_year()){
		title += ': ' + page.year;
		}
		} else if (is_category()){
		title = 'Category: ' + page.category;
		} else if (is_tag()){
		title = 'Tag: ' + page.tag;
		}
		%>
		<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
		<%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
		<% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
		<% } %>

		<link rel="canonical" href="<%= config.url %>" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">

		<script type="application/ld+json">
			[{
			"@context": "http://schema.org",
			"@type": "Organization",
			"address": {
			"@type": "PostalAddress",
			"addressLocality": "Sofia, Bulgaria",
			"postalCode": "1618",
			"streetAddress": "4 Lelinska chuka Street"
			},
			"email": "contact(at)erudika.com",
			"vatID": "BG-200368755",
			"name": "Erudika",
			"url": "https://erudika.com",
			"logo": "https://www.erudika.com/assets/img/erudika.png",
			"sameAs": [
			"https://www.facebook.com/erudika.llc",
			"https://twitter.com/erudika",
			"https://www.linkedin.com/company/erudika",
			"https://plus.google.com/+ErudikaLLC",
			"https://github.com/Erudika"
			]
			},
			{
			"@context": "http://schema.org",
			"@type": "Blog",
			"name": "Erudika | Blog",
			"url": "https://erudika.com/blog",
			"genre": "technology/technical writing",
			"headline": "<%= title %>"
			}]
		</script>
		<!-- Google Analytics	 -->
		<%- partial('_partial/google-analytics') %>
  </head>

	<body>
		<div id="container">
			<div id="wrap">
				<header id="header">
					<div class="navbar navbar-default">
						<div class="container">
							<div class="navbar-header">
								<a href="/">
									<img src="/assets/img/erudika.svg" width="256" height="66" alt="logo" class="erudika-logo"/>
								</a>
							</div>
							<ul class="nav navbar-nav navbar-right hidden-xs">
								<li class=""><a href="/blog"><span style="color: black;">Blog</span></a></li>
								<li class=""><a href="/#projects">Projects</a></li>
								<li class=""><a href="/#contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<% if(page.img) { %>
					<div id="banner" style="background: url('/assets/img/<%= page.img %>') center #000;
							 -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;"></div>
					<% } else { %>
					<div id="banner" style="background: url('/assets/img/banner.jpg') center #000;
							 -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;"></div>
					<% } %>
					<div id="header-outer" class="outer">
						<div id="header-title" class="inner">
							<h1 id="logo-wrap">
								<span id="logo">Blog</span>
							</h1>
							<% if (theme.subtitle){ %>
							<h2 id="subtitle-wrap">
								<a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
							</h2>
							<% } %>
						</div>
					</div>
				</header>

				<div class="outer">
					<!--		<div id="search-form-wrap"><%- search_form({button: '&#xF002;'}) %></div>-->
					<input type="text" id="search-box" class="search-form mt" value="" placeholder="Search" />
					<small class="right">powered by
						<a href="https://paraio.com" target="_blank">
							<img src="/assets/img/para_logo.svg" width="60" alt="Para"/>
						</a>
					</small>
				</div>

				<div class="outer">
					<section id="main"><%- body %></section>
				</div>
				<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
			</div>
			<%- partial('_partial/after-footer') %>
		</div>
	</body>
</html>
