<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <header id="header">
				<div class="navbar navbar-default">
					<div class="container">
						<div class="navbar-header">
							<a class="navbar-brand" href="/">
								<img src="/assets/img/erudika.png" width="256" height="66" alt="logo"/>
							</a>
						</div>
						<ul class="nav navbar-nav navbar-right hidden-xs">
							<li class=""><a href="/blog"><span style="color: black;">Blog</span></a></li>
							<li class=""><a href="/#projects">Projects</a></li>
							<li class=""><a href="/#skills">Skills</a></li>
							<li class=""><a href="/#contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<% if(page.img) { %>
				<div id="banner" style="background: url('/assets/img/<%= page.img %>') center #000;
				 -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;"></div>
				<% } else { %>
				<div id="banner" style="background: url('/assets/img/banner.jpg') center #000;
				 -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;"></div>
				<% } %>
				<div id="header-outer" class="outer">
					<div id="header-title" class="inner">
						<h1 id="logo-wrap">
							<span id="logo">Blog</span>
						</h1>
						<% if (theme.subtitle){ %>
						<h2 id="subtitle-wrap">
							<a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
						</h2>
						<% } %>
					</div>
				</div>
			</header>

      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>

	<!-- Google Analytics	 -->
	<%- partial('_partial/google-analytics') %>
</body>
</html>